*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home{
  background-color: #f2f2f2;
}


/* TITLE */

.title{
  text-align: center;
  font-size: 1.2rem;
  padding: 0.7em;
  background-color: #9869d174;
  border-radius: 0.8em 0.8em 0 0;
  position: relative;
}

button:hover{
  cursor: pointer;
  opacity: 0.9;
}



/* MOVEMENT */
.movement {
  font-size: 0.8rem;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: #ffecec;

}

.movement div{
  display: flex;
  width: 70%;
  align-items: center;
}

.movement div #date{
  width: 15%;
  margin-left: 0.3rem;
  text-align: center;
}

.movement div img {
  width: 3rem;
  border-radius: 0.2rem;
  margin: 0.7rem;
  padding: 0.4rem;
  background-color: #ffffff;
}

.movement div .detail{
  flex-direction: column;
  justify-content: left;
  margin-left: 0;
}

.movement div .detail p{
  align-self: flex-start;
}

.movement i{
  position: absolute;
  right: 0.6rem;
}

.movement i:hover{
  cursor: pointer;
  opacity: 0.8;
}

.movement #concept{
  font-size: 1rem;
  font-weight: bold;
}

.movement #amount{
  font-weight: bold;
  margin-right: 2rem;
  text-align: right;
  width: 25%;
}

.movement #amount.red{
  color: #c72a2ade;
}

.movement #amount.green{
  color: #0d9d0de0;
}




/* HEADER */

.header{
  width: 100%;
  display: flex;
  background-color: #9869d174;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem 0;
}

.header .logo {
  width: 2.5rem;
  height: 2.5rem;
}

.header h1 {
  font-size: 1.3rem;
}

.header .log-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: initial;
  padding: 0;
  border: none;
  color: #000000;
}

.header .log-in img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.3rem;
}

.header .log-in p{
  font-size: 0.9rem;
}

/* BALANCE */

.balance{
  width: 80%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 0.8rem;
  background-color: #ffecec;  
}

.balance label{
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance label img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.balance label img:hover{
  cursor: pointer;
  opacity: 0.8;
  border: 1px solid #000000;
}


.balance #image-profile{
  display: none;
}

.balance p {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.balance.green{
  border: 1px solid #0d9d0de0;
}

.balance.red{
  border: 1px solid #c72a2ade;
}

.balance span.green {
  font-weight: bold;
  color: #0d9d0de0;
}

.balance span.red {
  font-weight: bold;
  color: #c72a2ade;
}


/* BUTTONS TYPE */

.type-button{
  min-width: 7rem ;
  font-size: 0.9rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  color: #ffffff;
  background-color: black;
  margin: 0.5rem;
}

.type-button.receipts{
  background-color: #0d9d0de0;
}

.type-button.expenses{
  background-color: #c72a2ade;
}

.buttons-type{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}



/* NEW MOVEMENT */


.new-div{
  width: 80%;
  margin: auto;
}

.new-movement{
  width: 100%;
  margin: 2em auto;
  background-color: #ffecec;
  position: relative;
}

.new-movement .exit{
  font-size: 1.5rem;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  padding: 0;
  background-color: initial;
  border-radius: 50%;
  border: none;
  margin: 0;
  color: #000000;
}


.new-movement .exit i{
  background-color: none;
}


.new-movement .input{
  width: 90%;
  margin: auto;
  padding: 0.5em 0;
}

.new-movement .input div{
  width: 100%;
  margin: auto;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.new-movement .input div input, select{
  width: 12rem;
  height: 2rem;
  margin: 1em 0;
  text-align: center;
  border-radius: 0.4rem;
  background-color: #ffffff;
  border: #767676 solid 1px;
  color: #000000;
}

.new-movement .input div select option{
  text-align: center;
}

.new-movement .input div span{
  display: flex;
  position: relative;
  align-items: center;
}


.new-movement .input div #amount-input{
  width: 10rem;
  margin-right: 2rem;
  align-self: flex-start;
}

.new-movement .input div i{   
  font-size: 1.4em;
  position: absolute;
  right: 0;
  }

  .new-movement .input #save {   
    font-size: 1.4rem;
    margin: 0.8em 0;
  }


/* LAST MOVEMENTS */

.last-movements{
  width: 80%;
  margin: 1rem auto;
}


/* LOGIN */

.session{
  background-color: #f2f2f2;
}

.login{
  padding: 2rem 0px;
  width: 80%;
  margin: auto;
}

.login .info{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffecec;

}

.login .info input{
  width: 100%;
  margin: 0.5em auto;
  height: 2rem;
  padding: 0.3rem;
  text-align: start;
  border-radius: 0.4rem;
  background-color: #ffffff;
  border: #767676 solid 1px;
  color: #000000;
}

.login .info #forgot{
  margin: 0.3rem auto;
  text-align: right;
  width: 100%;
  text-decoration: underline;
  color: blue;
  font-size: 0.8rem;
}

.login .info #register{
  text-align: center;
  width: 100%;
  margin: 0.3rem auto;
}

.login .link{
  text-decoration: underline;
  color: blue;
}

.login .link:hover{
  cursor: pointer;
  opacity: 0.8;
}


.login .errors{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.login .errors .error{
  width: 90%;
  color: red;
  margin-left: 0.2rem;
}


.login .info .button-span{
  display: flex;
  margin: 0.7rem auto;
  justify-content: center;
}


/* REGISTER */

.register{
  padding: 2rem 0px;
  width: 80%;
  margin: auto;
}

.register .info{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffecec;

}

.register .info input{
  width: 100%;
  margin: 0.5em auto;
  height: 2rem;
  padding: 0.3rem;
  text-align: start;
  border-radius: 0.4rem;
  background-color: #ffffff;
  border: #767676 solid 1px;
  color: #000000;
}

.register .info #forgot{
  margin: 0.3rem auto;
  text-align: right;
  width: 100%;
  text-decoration: underline;
  color: blue;
  font-size: 0.8rem;
}

.register .info #register{
  text-align: center;
  width: 100%;
  margin: 0.3rem auto;
}

.register .link{
  text-decoration: underline;
  color: blue;
}

.register .link:hover{
  cursor: pointer;
  opacity: 0.8;
}

.register .info .errors{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.register .info .errors .error{
  width: 90%;
  color: red;
  margin-left: 0.2rem;
}

.register .info .button-span{
  display: flex;
  margin: 0.7rem auto;
  justify-content: center;
}