*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Spectral SC', serif;;
}

.home{
  background-color: #f2f2f2;
  min-height: 100vh;
}


/* TITLE */

.title{
  text-align: center;
  font-size: 1rem;
  padding: 0.7rem;
  background-color: #9869d174;
  border-radius: 0.8em 0.8em 0 0;
  position: relative;
}

button:hover{
  cursor: pointer;
  opacity: 0.9;
}



/* MOVEMENT */
.movement {
  font-size: 0.8rem;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: #ffecec;

}

.movement div{
  display: flex;
  width: 70%;
  align-items: center;
}

.movement div #date{
  width: 15%;
  margin-left: 0.3rem;
  text-align: center;
}

.movement div img {
  width: 2.5rem;
  border-radius: 0.2rem;
  margin: 0.7em;
  padding: 0.4em;
  background-color: #ffffff;
}

.movement div .detail{
  flex-direction: column;
  justify-content: left;
  margin-left: 0;
}

.movement div .detail p{
  align-self: flex-start;
}

.movement i{
  position: absolute;
  right: 0.6em;
}

.movement i:hover{
  cursor: pointer;
  opacity: 0.8;
}

.movement #concept{
  font-size: 0.7rem;
  font-weight: bold;
}

.movement #category{
  font-size: 0.5rem;
}

.movement #amount{
  font-weight: bold;
  margin-right: 1.7rem;
  text-align: right;
  width: 28%;
  font-size: 0.75rem;
}

.movement #amount.red{
  color: #c72a2ade;
}

.movement #amount.green{
  color: #0d9d0de0;
}

.view-more{
  background-color: #ffecec;
  display: flex;
  align-items: center;
  justify-content: center ;
}

.view-more i{
  font-size: 2rem;
}

.view-more i:hover{
  cursor: pointer;
  opacity: 0.8;
}




/* HEADER */

.header{
  width: 100%;
  display: flex;
  background-color: #9869d174;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem 0;
}

.header .logo {
  width: 2.5rem;
  height: 2.5rem;
}

.header h1 {
  font-size: 1rem;
}

.header .log-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: initial;
  padding: 0;
  border: none;
  color: #000000;
}

.header .log-in img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.3rem;
}

.header .log-in p{
  font-size: 0.9rem;
}

/* BALANCE */

.balance{
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 0.8rem;
  background-color: #ffecec;  
}

.balance .info{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1rem;
}

.balance label{
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  margin: 0.50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance label img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.balance label img:hover{
  cursor: pointer;
  opacity: 0.8;
  border: 1px solid #000000;
}


.balance #image-profile{
  display: none;
}

.balance p {
  margin-left: 0.5rem;
}

.balance.green{
  border: 1px solid #0d9d0de0;
}

.balance.red{
  border: 1px solid #c72a2ade;
}

.balance span.green {
  font-weight: bold;
  color: #0d9d0de0;
}

.balance span.red {
  font-weight: bold;
  color: #c72a2ade;
}

.balance .errors{
  text-align: center;
}

.balance .errors .error-balance{
  color: #c72a2ade;
  font-size: 0.8rem;
}

/* BUTTONS TYPE */

.type-button{
  min-width: 7rem ;
  font-size: 0.9rem;
  padding: 0.6rem;
  border-radius: 0.8rem;
  color: #ffffff;
  background-color: black;
  margin: 0.5rem;
}

.type-button.receipts{
  background-color: #0d9d0de0;
}

.type-button.expenses{
  background-color: #c72a2ade;
}

.buttons-type{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}



/* NEW MOVEMENT */


.new-div{
  width: 80%;
  margin: auto;
}

.new-movement{
  width: 100%;
  margin: 2rem auto 0;
  background-color: #ffecec;
  position: relative;
}

.new-movement .exit{
  font-size: 1.5rem;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  padding: 0;
  background-color: initial;
  border-radius: 50%;
  border: none;
  margin: 0;
  color: #000000;
}


.new-movement .exit i{
  background-color: none;
}


.new-movement .input{
  width: 90%;
  margin: auto;
  padding: 0.5em 0;
}

.new-movement .input div{
  width: 100%;
  margin: auto;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.new-movement .input div input, select{
  width: 12rem;
  height: 2rem;
  margin: 1em 0;
  text-align: center;
  border-radius: 0.4rem;
  background-color: #ffffff;
  border: #767676 solid 1px;
  color: #000000;
}

.new-movement .input div select option{
  text-align: center;
}

.new-movement .input div span{
  display: flex;
  position: relative;
  align-items: center;
}


.new-movement .input div #amount-input{
  width: 10rem;
  margin-right: 2rem;
  align-self: flex-start;
}

.new-movement .input div i{   
  font-size: 1.4em;
  position: absolute;
  right: 0;
  }

  .new-movement .input #save {   
    font-size: 1.4rem;
    margin: 0.8em 0;
  }

  .new-movement .errors{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.4rem 0;
  }
  
  .new-movement .errors .error{
    width: 90%;
    color: red;
    font-size: 0.9rem;
    text-align: center;
  }
  


/* LAST MOVEMENTS */

.last-movements{
  width: 80%;
  padding: 1rem 0;
  margin: 1rem auto 0;
}


/* LOGIN */

.session{
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.login{
  padding: 2rem 0;
  width: 80%;
  margin: auto;
}

.login .info{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffecec;
}

.login .info input{
  width: 100%;
  margin: 0.5em auto;
  height: 2rem;
  padding: 0.5rem;
  text-align: start;
  border-radius: 0.4rem;
  background-color: #ffffff;
  border: #767676 solid 1px;
  color: #000000;
}

.login .info #forgot{
  margin: 0.3rem auto;
  text-align: right;
  width: 100%;
  text-decoration: underline;
  color: blue;
  font-size: 0.7rem;
}

.login .info .button-span{
  display: flex;
  margin: 0.5rem auto;
  justify-content: center;
}

.login .info #register{
  text-align: center;
  width: 100%;
  margin: 0.3rem auto;
  font-size: 0.7rem;
}

.login .link{
  text-decoration: underline;
  color: blue;
  font-size: 0.7rem;
}

.login .link:hover{
  cursor: pointer;
  opacity: 0.8;
}


.login .errors{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.login .errors .error{
  width: 90%;
  color: red;
  margin-left: 0.2rem;
  font-size: 0.7rem;
}




/* REGISTER */

.register{
  padding: 2rem 0;
  width: 80%;
  margin: auto;
}

.register .info{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffecec;

}

.register .info input{
  width: 100%;
  margin: 0.5em auto;
  height: 2rem;
  padding: 0.5rem;
  text-align: start;
  border-radius: 0.4rem;
  background-color: #ffffff;
  border: #767676 solid 1px;
  color: #000000;
}

.register .info #forgot{
  margin: 0.3rem auto;
  text-align: right;
  width: 100%;
  text-decoration: underline;
  color: blue;
  font-size: 0.8rem;
}

.register .info #register{
  text-align: center;
  width: 100%;
  margin: 0.3rem auto;
  font-size: 0.7rem ;
}

.register .link{
  text-decoration: underline;
  color: blue;
}

.register .link:hover{
  cursor: pointer;
  opacity: 0.8;
}

.register .info .errors{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.register .info .errors .error{
  width: 90%;
  color: red;
  margin-left: 0.2rem;
  font-size: 0.7rem;
}

.register .info .button-span{
  display: flex;
  margin: 0.7rem auto;
  justify-content: center;
}





@media (min-width: 489px) {
  *{
    font-size: 1rem;
  }

  .header h1 {
    font-size: 1.4rem;
  }

  .login{
    padding: 2rem 0;
    width: 80%;
    margin: auto;
  }

  .login .info{
    padding: 1rem;
  }
  .movement #concept{
    font-size: 0.9rem;
  }
  
  .movement #category{
    font-size: 0.6rem;
  }
  
  .movement #amount{
    margin-right: 2rem;
    font-size: 0.9rem;
  }
}



@media (min-width: 679px) {
  *{
    font-size: 18px;
  }

  
  .header .logo {
    width: 4rem;
    height: 4rem;
  }
  
  .header h1 {
    width: 60%;
    text-align: center;
    font-size: 1.6rem;
  }
  
  
  .header .log-in img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.3rem;
  }
  
  .header .log-in p{
    font-size: 0.9rem;
  }
  
  .title{
    font-size: 1.2rem;
  }

  .movement p{
    font-size: 0.9rem;
  }

  .movement i{
    font-size: 0.9rem;
    position: absolute;
    right: 0.5em;
  }

  .type-button{
    padding: 0.5rem;
    margin: 0.4rem;
  }

  .balance label{
    width: 8rem;
    height: 8rem;
  }
  
  .balance label img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  } 

  .balance .errors .error-balance{
    font-size: 1rem;
  }

  .login, .register{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 40%;
    margin: auto;
  }

  .login .info #register{
    font-size: 1rem;
  }

  .register .info #register{
    font-size: 1rem ;
  }

  .register .info .errors .error{
    font-size: 1rem;
  }
  
  .login .errors .error{
    font-size: 1rem;
  }
  
  .login .link{
    font-size: 1rem;
  }

  .balance, .buttons-type{
    width: 50%;
  }

  .new-div, .last-movements{
    width: 50%;
  }

  .new-movement .input div input, select{
    margin: 0.6rem 0;
  }

  .new-movement .exit{
    font-size: 2rem;
    position: absolute;
    top: -.2rem;
    right: 1rem;
  }
  

}